/* global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #eec982;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    z-index: -9999;
}



a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 70px;
    width: 250px;
    padding: 0px 10px;
    position: relative;
}

.main-header h2 {
    text-align: center;
    width: fit-content;
    color: var(--main-color);

}

.main-header::before {
    content: "";
    position: absolute;
    width: 86.2%;
    height: 1.43px;
    background: #c9b284;
    z-index: 2;
    top: 14.9px;
    border-radius: 999px;
}



.main-header::after {
    content: "";
    position: absolute;
    width: 86.2%;
    height: 1.43px;
    background: #c9b284;
    z-index: 2;
    bottom: 14.2px;
    border-radius: 999px;
}

.bracket {
    max-width: 100%;
    position: absolute;
    width: 24px;
}

.main-header .left {
    left: 0;
}

.main-header .right {
    right: 0;
}


/* End Global Rules */
/* header */
header {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: rgb(40, 37, 37);
    height: 120px;
    z-index: 1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


header .logo img {
    max-width: 100%;
    height: 120px;
    padding: 10px;
}

header h2 {
    color: var(--main-color);
    font-family: 'Tajawal', sans-serif;
    font-size: 35px;
    margin: 0;
}

/* header .links {
    position: fixed;
    z-index: 99;
    right: 15px;
    border: 2px solid var(--main-color);
    padding: 10px 5px;
    bottom: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

header .links:hover ul {
    display: block;
}

header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

header .links .icon {
    display: flex;
    width: 25px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .links .icon span {
    background-color: var(--main-color);
    margin-bottom: 3px;
}

header .links .icon span:first-child {
    height: 2px;
    width: 100%;
}

header .links .icon span:nth-child(2) {
    height: 2px;
    width: 60%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

header .links .icon span:last-child {
    height: 2px;
    width: 100%;

}

header .links ul {
    list-style: none;
    z-index: 99;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    right: 0;
    bottom: calc(100% + 15px);
    min-width: 200px;
    display: none;
}

header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;

}

header .links ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

header .links ul a:hover {
    padding-left: 25px;

}

header .links ul li:not(:last-child) {
    border-bottom: 1px solid #e9ac3b; 
}*/

/*  */
/* end header */

.landing {

    background-image: url(../images/background.jpg);
}

.landing .container {

    height: calc(100vh - 120px);
    position: relative;
}

.landing::before {
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 40%);
}

.landing .menu {


    border-radius: 8px;
    position: relative;
    display: flex;
    width: fit-content;
    top: 10%;
    left: 50%;
    transform: translatex(-50%);
    font-family: 'Amiri',
        serif;
    transition: 0.3s;

}

.landing .menu::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
}

.landing .menu a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: var(--main-color);
    color: white;
    /* transition: 0.3s;
    color: var(--main-color);
    border-color: var(--main-color);
    background: linear-gradient(to right, var(--main-color) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom; */
}


/* 
.landing .menu:hover a {
    background-position: left bottom;
    color: white;
} */

.landing .box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    top: 15%;
    gap: 20px;
}

.landing .box li {
    width: 140px;
    text-align: center;
    padding: 25px 0;
    border: 2px solid var(--main-color);
    margin: 0 auto;
    border-radius: 8px;
    background: linear-gradient(to right, var(--main-color) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: 0.3s;
}

.landing .box li a {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Amiri',
        serif;

}

.landing .box li:hover {
    background-position: left bottom;
}

.landing .box li:hover a {

    color: white;
}

.go-down {
    position: fixed;
    color: var(--main-color);
    bottom: 10px;
    left: 50%;
    z-index: 999;
    transform: rotate(180deg) translate(-50%);
    -webkit-transform: rotate(180deg) translate(-50%);
    -moz-transform: rotate(180deg) translate(-50%);
    -ms-transform: rotate(180deg) translate(-50%);
    -o-transform: rotate(180deg) translate(-50%);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

/* "turkish-coffe" */
.turkish-coffe {
    background-image: url(../images/sec2-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 30px;
    height: 100vh;
    overflow: hidden;
}

.turkish-coffe::before {
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 60%);
}

.turkish-coffe .container {
    position: relative;
}

.turkish-coffe .container .box {
    display: flex;
    direction: rtl;
    justify-content: space-between;
}

.s-price::before {
    content: "S";
    font-size: 30px;
    position: absolute;
    font-weight: bold;
    top: -40px;
    color: var(--main-color);
    transform: translate(-5px);
}

.d-price::before {
    content: "D";
    transform: translate(-5px);
    font-size: 30px;
    position: absolute;
    font-weight: bold;
    top: -40px;
    color: var(--main-color);
}

.turkish-coffe .container .box ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.turkish-coffe .container .box ul li {
    color: var(--main-color);
    font-size: 30px;
}

.turkish-coffe .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    opacity: 0.2;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.turkish-coffe .logo img {
    max-width: 100%;
    width: 100%;
    /* width: 100px; */
}

@media (max-height:480px) {
    .turkish-coffe .logo {
        display: none;
    }
}

.flover {
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.flover p {
    font-size: 14px;
    position: absolute;
    width: 250px;
    text-align: center;
    top: 30px;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    right: -200%;
}

.flover:hover p {
    right: -5px;
}


/* "END turkish-coffe" */





/* font-family: 'Amiri',
serif;
font-family: 'Open Sans',
sans-serif;
font-family: 'Reem Kufi',
sans-serif;
font-family: 'Tajawal',
sans-serif; */


/* Animathion */

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
    }
}


/* end Animathion */
